<!doctype html>

<html lang="en">
<head>

  <title>HotREMarkets</title>

  <link rel="stylesheet" href="../static/somestyle.css">

</head>

<body>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/myzip">My Zip Code</a></li>
        <li><a href="/insights">Insights</a></li>
        <li style="float:right"><a class="active" href="/">About</a></li>
      </ul>
    <div class="header">
        <h1>HotREMarkets</h1>
    </div>
    <div class="tablecontainer">
        <div class="tablediv" id="losertable">
            <table id="Losers">
                <thead>
                    <tr>
                        <th colspan="4">Losers</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{package.losers.rowOne.zip}}</td>
                    <td>{{package.losers.rowOne.city}}</td>
                    <td>{{package.losers.rowOne.state}}</td>
                    <td>{{package.losers.rowOne.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.losers.rowTwo.zip}}</td>
                    <td>{{package.losers.rowTwo.city}}</td>
                    <td>{{package.losers.rowTwo.state}}</td>
                    <td>{{package.losers.rowTwo.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.losers.rowThree.zip}}</td>
                    <td>{{package.losers.rowThree.city}}</td>
                    <td>{{package.losers.rowThree.state}}</td>
                    <td>{{package.losers.rowThree.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.losers.rowFour.zip}}</td>
                    <td>{{package.losers.rowFour.city}}</td>
                    <td>{{package.losers.rowFour.state}}</td>
                    <td>{{package.losers.rowFour.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.losers.rowFive.zip}}</td>
                    <td>{{package.losers.rowFive.city}}</td>
                    <td>{{package.losers.rowFive.state}}</td>
                    <td>{{package.losers.rowFive.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.losers.rowSix.zip}}</td>
                    <td>{{package.losers.rowSix.city}}</td>
                    <td>{{package.losers.rowSix.state}}</td>
                    <td>{{package.losers.rowSix.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.losers.rowSeven.zip}}</td>
                    <td>{{package.losers.rowSeven.city}}</td>
                    <td>{{package.losers.rowSeven.state}}</td>
                    <td>{{package.losers.rowSeven.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.losers.rowEight.zip}}</td>
                    <td>{{package.losers.rowEight.city}}</td>
                    <td>{{package.losers.rowEight.state}}</td>
                    <td>{{package.losers.rowEight.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.losers.rowNine.zip}}</td>
                    <td>{{package.losers.rowNine.city}}</td>
                    <td>{{package.losers.rowNine.state}}</td>
                    <td>{{package.losers.rowNine.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.losers.rowTen.zip}}</td>
                    <td>{{package.losers.rowTen.city}}</td>
                    <td>{{package.losers.rowTen.state}}</td>
                    <td>{{package.losers.rowTen.pc}}%</td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="tablediv" id="gainertable">
            <table id="Gainers">
                <thead>
                    <tr>
                        <th colspan="4">Gainers</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{package.gainers.rowOne.zip}}</td>
                    <td>{{package.gainers.rowOne.city}}</td>
                    <td>{{package.gainers.rowOne.state}}</td>
                    <td>{{package.gainers.rowOne.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.gainers.rowTwo.zip}}</td>
                    <td>{{package.gainers.rowTwo.city}}</td>
                    <td>{{package.gainers.rowTwo.state}}</td>
                    <td>{{package.gainers.rowTwo.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.gainers.rowThree.zip}}</td>
                    <td>{{package.gainers.rowThree.city}}</td>
                    <td>{{package.gainers.rowThree.state}}</td>
                    <td>{{package.gainers.rowThree.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.gainers.rowFour.zip}}</td>
                    <td>{{package.gainers.rowFour.city}}</td>
                    <td>{{package.gainers.rowFour.state}}</td>
                    <td>{{package.gainers.rowFour.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.gainers.rowFive.zip}}</td>
                    <td>{{package.gainers.rowFive.city}}</td>
                    <td>{{package.gainers.rowFive.state}}</td>
                    <td>{{package.gainers.rowFive.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.gainers.rowSix.zip}}</td>
                    <td>{{package.gainers.rowSix.city}}</td>
                    <td>{{package.gainers.rowSix.state}}</td>
                    <td>{{package.gainers.rowSix.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.gainers.rowSeven.zip}}</td>
                    <td>{{package.gainers.rowSeven.city}}</td>
                    <td>{{package.gainers.rowSeven.state}}</td>
                    <td>{{package.gainers.rowSeven.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.gainers.rowEight.zip}}</td>
                    <td>{{package.gainers.rowEight.city}}</td>
                    <td>{{package.gainers.rowEight.state}}</td>
                    <td>{{package.gainers.rowEight.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.gainers.rowNine.zip}}</td>
                    <td>{{package.gainers.rowNine.city}}</td>
                    <td>{{package.gainers.rowNine.state}}</td>
                    <td>{{package.gainers.rowNine.pc}}%</td>
                </tr>
                <tr>
                    <td>{{package.gainers.rowTen.zip}}</td>
                    <td>{{package.gainers.rowTen.city}}</td>
                    <td>{{package.gainers.rowTen.state}}</td>
                    <td>{{package.gainers.rowTen.pc}}%</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class="rankdiv">
        <span class = "rankspan">
            How does your zip code score against the rest of the nation?
        </span>
        <div class = "rankformdiv">
            <form method="POST" action="">
                <label for="zip">ZIP</label><br>
                <input type="text" id="zipinput" name="zipinput" placeholder="ZIP Code"><br>
                <input type="submit" id="submitbutton" value="Submit"></input>
                </form>
        </div>
    </div>
  
</body>
</html>